# Dependency directories
node_modules/

# Production builds
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env

# Temporary audio uploads
server/uploads/*
!server/uploads/.gitkeep

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/db_fallback.json
server/db_users_fallback.json